@use '../../theme';

.button {
  padding: 9px;
  min-width: 7rem;
  width: fit-content;
  user-select: none;
  border-radius: 5px;
  text-align: center;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  }

  span {
    font-size: 15px;
    font-weight: 500;
    color: theme.$textPrimary;
    font-family: theme.$font;
  }
}

.primary {
  @extend .button;
  background: linear-gradient(72deg, theme.$primary, theme.$secondary);
}

.secondary {
  @extend .button;
}
