@use '../../_theme' as *;

.filterDropdown {
  user-select: none;
  width: fit-content;
}

.head {
  display: flex;
  gap: 1rem;
  background-color: color('secondary');
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;

  &[data-custom='true'] {
    border-radius: 10px 10px 0 0;
  }
}

.title {
  @include font('body');
}

.items {
  max-height: 200px;
  overflow-y: scroll;
}

.items > * {
  background-color: darken(color('secondary'), 4);
  width: auto;
  border-radius: 0;
}

.items > input {
  border: none;
  border-radius: 0;
}
