#champion-container {
  height: 300px;
  overflow-y: scroll;

  font-size: 0; /* removes space between inline-block elements */
}

#champion-container::-webkit-scrollbar {
  width: 0; /* hide scrollbar */
}

#skin-container {
  height: 230px;
  margin-top: 10px;
  max-height: 230px;
  display: grid;
  overflow-x: scroll;
}

#skin-container::-webkit-scrollbar {
  height: 0; /* hide scrollbar */
}

#skin-container > p {
  text-align: center;

  color: var(--font-color);
  font-size: 22px;
  font-family: var(--font);
}
