@use '../../_theme' as *;

.rank-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;

  .wrapper {
    background-color: color('surface');
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 20px;

    .section {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }
  }
}
