@import '../colors.sass'
    
$height: 110px

#profile
    position: relative
    width: fit-content
    height: $height
    display: flex
    border-radius: calc($height / 4)
    background-color: $surface

    .info
        padding: 15px

        .upper
            display: inline-flex
            gap: 10px

            .name
                font-size: 22px
                font-weight: 600

        .tag
            font-weight: 300
            color: #a5a3a3

        .badges
            display: inline-flex
            gap: 10px