.badge
    width: fit-content

    .outer
        height: 28px
        border-radius: calc(30px / 2)

        .inner
            height: 22px
            margin: 3px
            padding: 0 5px 0 5px
            display: inline-flex
            justify-content: center
            align-items: center
            gap: 4px
            border-radius: calc(24px / 2)

            .icon
                height: 20px

            .text
                font-weight: 400
                font-size: 14px