@use '../../_theme' as *;

.badge {
  width: fit-content;
  min-width: 4rem;
  min-height: 1.3rem;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  border: 0.4rem solid;
  border-radius: 100vw; // pill shape
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  @include font('body');
  user-select: none; // disable text selection
  pointer-events: none; // set untargetable

  img {
    width: 1.3rem;
    height: 1.3rem;
  }
}
