@use '~component-lib/build/_theme' as *;

.status-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    background-color: color('surface');
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 20px;

    .left {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
