@use '~component-lib/build/_theme' as *;

.icons-page {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
  height: 100%;

  .filter {
    background-color: color('surface');
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    align-items: center;

    .settings {
      background-color: color('background');
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      border-radius: 20px;
      gap: 15px;
      padding: 20px;
      width: 100%;
      align-items: center;

      > * {
        width: 100%;
      }
    }
  }

  .icons {
    background-color: color('surface');
    display: flex;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: color('primary');
      height: 50px;
    }
  }
}
