@use '~component-lib/build/_theme' as *;

$gap: 20px;
$border-radius: 20px;

.icons-page {
  height: 100%;
  display: flex;
  gap: $gap;
  padding: $gap;

  .filter {
    background-color: color('surface');
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
    padding: $gap;
    border-radius: $border-radius;

    .settings {
      background-color: color('background');
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc($gap / 2);
      border-radius: $border-radius;
      padding: $gap;

      > * {
        width: 100%;
      }
    }
  }

  .icons {
    background-color: color('surface');
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    border-radius: $border-radius;
    padding: $gap;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: color('primary');
      height: 50px;
    }
  }
}
