@use '../../_theme' as *;

.searchBar {
  @include font('body');
  border: 3px solid color('secondary');
  border-radius: 10px;
  outline: none;
  background-color: color('surface');
  padding: 0.5rem;
}
