@use '../../_theme' as *;

.checkbox {
  width: fit-content;
  min-width: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid color('secondary');
  border-radius: 10px;
  @include font('body');
  padding: 0.4rem;
  user-select: none; // disable text selection

  input {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
}
