#icon-container {
  height: calc(var(--content-height) - 10px); /* subtract border */
  overflow-y: scroll;

  font-size: 0; /* removes space between inline-block elements */
}

#icon-container::-webkit-scrollbar {
  width: 0; /* hide scrollbar */
}
