@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$background: #222222;
$surface: #150233;
$primary: #d86ada;
$secondary: #6957e7;
$textPrimary: #fffbf4;
$textSecondary: #d4cfcd;

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$buttonFont: Inter;
