@use '../../_theme' as *;

.profile {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 30px;
  background-color: color('surface');
  width: fit-content;
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.badges {
  display: flex;
  gap: 1rem;
}

.name {
  @include font('headline');
}

.riotId {
  @include font('subtitle');
  font-size: 28px;
}
