@use '~component-lib/build/_theme' as *;

.backgrounds-page {
  display: flex;
  padding: 20px;
  gap: 20px;
  max-height: 535px; // why is 100% not working ???!!

  .filter {
    background-color: color('surface');
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    align-items: center;

    .settings {
      background-color: color('background');
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      border-radius: 20px;
      gap: 15px;
      padding: 20px;
      width: 100%;
      align-items: center;

      > * {
        width: 100%;
      }
    }
  }

  .backgrounds {
    background-color: color('surface');
    display: flex;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: color('primary');
      height: 50px;
    }
  }
}
