:root {
  --background-color: #121212;
  --background-color-variant: #000000;
  --accent-color: #BB86FC;
  --accent-color-variant: #C396FA;

  --font: Verdana;
  --font-variant: Arial;
  --font-color: #FFFFFF;

  --content-width: 100%;
  --content-height: 560px;

  --card-width: 145px;
  --card-height: 232px;
}

/* --------------------- PRESETS & CLASSES --------------------- */
.center-wrapper {
  width: var(--content-width);
  height: var(--content-height);
  display: grid;
}

.center-element {
  margin: auto;
}

.button {
  padding: 15px 32px;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--font-color);
  font-size: 16px;

  outline: none;
  border: none;
  border-radius: 10px; /* round corners */

  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--accent-color-variant);
  box-shadow: 0 12px 16px 0 rgba(55,0,179,0.24), 0 17px 50px 0 rgba(55,0,179,0.19);
}

.input {
  padding: 5px;
  text-align: center;

  background-color: var(--background-color-variant);
  color: var(--font-color);
  font-size: 14px;
  font-family: var(--font);

  border-radius: 7px; /* round corners */
  border: 3px solid var(--accent-color);
  outline: none;
}

.input:focus {
  border: 3px solid var(--accent-color-variant);
}

.container {
  width: 750px;
  margin: 0 20px 0 20px;
  border: 5px solid #8460C2;
  border-radius: 15px; /* round corners */

  background-color: #362546;
}

.container-element {
  margin: 2px;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 10px; /* round corners */

  filter: brightness(80%);

  -webkit-user-drag: none; /* disable dragging */
}

.container-element:hover {
  border: 2px solid #6F25B9;

  filter: brightness(110%);
}

.size-icon {
  min-width: 67px;
  height: 67px;
}

.size-skin {
  height: 222px; /* 230-4-4px because border & margin */
}

/* --------------------- INDEX/MAIN STRUCTURE STYLE --------------------- */
body {
  width: 100%;
  height: 100%;
  margin: 0;

  background-color: var(--background-color);

  user-select: none; /* disable user selection */
}

#panel {
  width: 100%;
  height: 40px;

  background-color: var(--background-color-variant);

  -webkit-app-region: drag; /* mark as drag element */
}

#title {
  float: left;
  margin: 0;
  margin: 10px 0 0 10px;

  color: var(--font-color);
  font-size: 20px;
  font-family: var(--font-variant);
  font-weight: normal;
}

.panel-button {
  width: 40px;
  height: 40px;
  float: right;

  color: var(--font-color);

  outline: none;
  border: none;
  background: none;

  transition-duration: 0.4s;
  -webkit-app-region: no-drag; /* remove drag mark on button */
}

.panel-button:hover {
  background-color: #121212;
}

#exit {
  color: red;
}

#exit:hover {
  background-color: #260202;
}

#home {
  visibility: hidden; /* only visible if connected */
}

#content {
  width: var(--content-width);
  height: var(--content-height);
}

/* --------------------- CONNECT.HTML STYLE --------------------- */
#connect {
  width: 150px;
}

/* --------------------- HOME.HTML STYLE --------------------- */
.card {
  width: var(--card-width);
  height: var(--card-height);
  margin: 30px 0 0 30px;
  display: inline-block;
  perspective: 1000px;

  background-color: transparent;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;

  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  box-shadow: 0 12px 16px 0 rgba(55,0,179,0.24), 0 17px 50px 0 rgba(55,0,179,0.19);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  border-radius: 15px; /* round corners */

  background-color: #5A1783;

  transform: rotateY(180deg);
}

.card-front > p {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;

  line-height: var(--card-height);
  color: var(--font-color);
  font-size: 22px;
  font-family: OCR A;
}

.card-back > p {
  color: var(--font-color);
  font-size: 12px;
  font-family: Verdana;
}

.card-front > img {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 15px; /* round corners */
}

/* --------------------- BACKGROUND.HTML STYLE --------------------- */
#champion-container {
  height: 300px;
  overflow-y: scroll;

  font-size: 0; /* removes space between inline-block elements */
}

#champion-container::-webkit-scrollbar {
  width: 0; /* hide scrollbar */
}

#skin-container {
  height: 230px;
  margin-top: 10px;
  max-height: 230px;
  display: grid;
  overflow-x: scroll;
}

#skin-container::-webkit-scrollbar {
  height: 0; /* hide scrollbar */
}

#skin-container > p {
  text-align: center;

  color: var(--font-color);
  font-size: 22px;
  font-family: var(--font);
}

/* --------------------- ICON.HTML STYLE --------------------- */
#icon-container {
  height: calc(var(--content-height) - 10px); /* subtract border */
  overflow-y: scroll;

  font-size: 0; /* removes space between inline-block elements */
}

#icon-container::-webkit-scrollbar {
  width: 0; /* hide scrollbar */
}

/* --------------------- STATUS.HTML STYLE --------------------- */
#status {
    width: 350px;
    margin-bottom: 5px;
}

#btn-status {
  margin-top: 5px;
}
