@use '../../_theme' as *;

.dropdown {
  user-select: none;
  width: fit-content;
}

.head {
  display: flex;
  gap: 1rem;
  background-color: color('secondary');
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;

  &[data-custom='true'] {
    border-radius: 10px 10px 0 0;
  }
}

.title {
  @include font('body');
}

.items {
  position: absolute;
}

.items > * {
  background-color: darken(color('secondary'), 5);
  width: auto;
  border-radius: 0;
}

.item {
  @include font('body');
  padding: 0.5rem;

  &[data-custom='true'] {
    background-color: darken(color('secondary'), 10);
  }
}
