@use '../../_theme' as *;

.dropdown {
  position: relative;
  user-select: none;
  width: max-content;

  &[data-extended='true'] {
    .head {
      border-radius: 10px 10px 0 0;
    }

    .items {
      visibility: visible;
    }
  }
}

.head {
  position: relative;
  display: flex;
  gap: 1rem;
  background-color: color('secondary');
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
}

.title {
  @include font('body');
}

.items {
  position: absolute;
  visibility: hidden;
  min-width: 100%;
  width: max-content;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: max-content;
}

.items > * {
  background-color: darken(color('secondary'), 5);
  width: 100%;
  position: relative;
  border-radius: 0;
}

.item {
  @include font('body');
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &[data-selected='true'] {
    background-color: darken(color('secondary'), 10);
  }
}
