$background:    #222222
$foreground:    #ffffff
$titleBar:      #121212
$surface:       #0f0f0f
$secondary:     #9025E4

$badgeColors: ("default": #BB86FC, "be": #34a1d8, "rp": #c41831, "unranked": #404241, "iron": #6b6b64, "bronze": #a46628, "silver": #b5b5b5, "gold": #d6a738, "platinum": #80aba4, "diamond": #71b0d1, "master": #7840a3, "grandmaster": #9e3342, "challenger": #1298e0)
$availabilityColors: ("chat": #35cc35, "dnd": #4ab3e4, "away": #c73c3c, "offline": #858080, "mobile": #858080)

@each $name, $color in $badgeColors
    .badge.#{$name}
        .outer
            background-color: darken($color, 15%)
        .inner
            background-color: $color

@each $name, $color in $availabilityColors
    .availability.#{$name}
        background-color: darken($color, 15%)
        border: 3px solid $color