@use './_theme' as *;

$navbar-height: 50px;
$navbar-background: #1A1A1A;
$navbar-gap: 1rem;

html {
  user-select: none;
  box-sizing: border-box;
  @include font('body');
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#main {
  height: 100%;
  margin: 0;
}

#content {
  height: calc(100vh - $navbar-height);
  background-color: color('background');
}

#navbar {
  height: $navbar-height;
  background-color: $navbar-background;
  display: flex;
  justify-content: space-between;

  .nav {
    display: flex;
    gap: $navbar-gap;
    margin-left: $navbar-gap;

    .nav-item {
      all: unset;
      display: flex;
      align-items: center;
      padding: 0.75rem;
      font-size: 15px;
      cursor: pointer;

      &.selected {
        font-weight: bold;
        color: color('secondary');
      }
    }
  }

  .profile {
    background-color: color('secondary');
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $navbar-gap;
    border-radius: 20px 0 0 20px;
    padding: 0.75rem;
  }
}
