@use '~component-lib/build/_theme' as *;

$navbarHeight: 50px;

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: color('background');
  user-select: none;
  min-height: 100%;
}

#main {
  height: 100%;
}

#content {
  height: calc(100vh - $navbarHeight);
}

#navbar {
  background-color: #1c173c;
  display: flex;
  justify-content: space-between;
  max-height: $navbarHeight;
  @include font('body');

  .nav {
    display: flex;
    gap: 1rem;
    margin-left: 5px;

    .nav-item {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 10px;
      font-size: 14px;

      img {
        height: 16px;
        pointer-events: none;
        position: relative;
      }

      span::first-letter {
        text-transform: capitalize;
      }

      &.selected {
        font-weight: bold;
        color: color('secondary');

        > img {
          filter: opacity(0.3) drop-shadow(0 0 0 color('secondary'));
        }
      }
    }
  }

  .profile {
    background-color: color('secondary');
    border-radius: 20px 0 0 20px;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: fit-content;
    padding: 10px;
    justify-content: flex-end;

    .icon {
      width: 35px;
    }
  }
}
